<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="CLR">
    <div class="LR">
        <h2>Please fill this registation form</h2><br>
        <p class="error">{{ error }}<p>
        <form action="/register" method="post">
            <input class="i" type="text" id="name" name="name" value="{{ name }}" placeholder="name" required><br>
            <input class="i" type="email" id="email" name="email" value="{{ email }}" placeholder="email" required><br>
            <input class="i" type="password" id="password" name="password" placeholder="password" required><br>
            <input class="i" type="password" id="checkPassword" name="checkPassword" placeholder="password again" required><br>
            <input class="b" type="submit" value="register">
        </form>
        Already have account?
        <a class="login" href="/login">login</a><br>
        <a class="login" href="/">Home</a>
    </div>
</div>
</body>
</html>