<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<div class="b">
    <form action="">
        <div class="searchBox">
            <input class="searchInput"type="text" name="search">
            <div class="searchButton">
                <i class="material-icons">
                    search
                </i>
            </div>
        </div>
    </form><br>
</div>
<div class="c">
    <form action="">
        <button type="submit" name="search" value="Sports"><span>Sport</span></button>
        <button type="submit" name="search" value="Health"><span>Health</span></button>
        <button type="submit" name="search" value="Crime"><span>Crime</span></button>
        <button type="submit" name="search" value="Politics"><span>Politics</span></button>
        <button type="submit" name="search" value="Science"><span>Science</span></button>
        <button type="submit" name="search" value="Fun"><span>Fun</span></button>
    </form>
</div>
<h2 class="h2">WELCOME!</h2>
<h3 class="h3">Chose or search what you want.</h3>
</body>
</html>